@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body.minimal-dark {
  padding:50px;
  font:15px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background:#1b1b1b;
  color:#adadad;
  font-weight:300;
}

.minimal-dark h1, .minimal-dark h2, .minimal-dark h3, .minimal-dark h4, .minimal-dark h5, .minimal-dark h6 {
  color:#bbbbbb;
  margin:0 0 20px;
}

.minimal-dark h4, .minimal-dark h5, .minimal-dark h6 {
    margin-bottom:5px;
}

.minimal-dark h1, .minimal-dark h2, .minimal-dark h3 {
  line-height:1.1;
}

.minimal-dark h1 {
  font-size:28px;
}

.minimal-dark h2 {
  color:#aaaaaa;
}

.minimal-dark h3, .minimal-dark h4, .minimal-dark h5, .minimal-dark h6 {
  color:#999999;
}

.minimal-dark p, .minimal-dark ul, .minimal-dark ol, .minimal-dark table, .minimal-dark pre, .minimal-dark dl {
  margin:0 0 20px;
}

.minimal-dark a {
  color:#3c5;
  font-weight:400;
  text-decoration:none;
}

.minimal-dark a:hover {
  text-decoration:underline;
}

.minimal-dark a small {
  font-size:11px;
  margin-top:-0.6em;
  display:block;
}

.minimal-dark .wrapper {
  width:860px;
  margin:0 auto;
}

.minimal-dark blockquote {
  border-left:1px solid #cccccc;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

.minimal-dark code, .minimal-dark pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  color:#333;
  font-size:12px;
  background:#e0e0e0;
  border-radius:5px;
  padding:2px;
}

.minimal-dark pre {
  padding:8px 15px;
  /*border: 2px solid #0e9c2f;*/
  overflow-x: auto;
}

.minimal-dark table {
  width:100%;
  border-collapse:collapse;
}

.minimal-dark th, .minimal-dark td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #cccccc;
}

.minimal-dark dt {
  color:#aaaaaa;
  font-weight:700;
}

.minimal-dark th {
  color:#aaaaaa;
}

.minimal-dark img {
  max-width:100%;
}

.minimal-dark header {
  width:270px;
  float:left;
  position:fixed;
}

.minimal-dark strong {
  color:#aaaaaa;
  font-weight:700;
}

.minimal-dark section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

.minimal-dark small {
  font-size:11px;
}

.minimal-dark hr {
  border:0;
  background:#cccccc;
  height:1px;
  margin:0 0 20px;
}

.minimal-dark footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

.minimal-dark header ul {
    list-style:none;
    padding-left:30px;
    width:270px;
}

@media print, screen and (max-width: 960px) {
  
  .minimal-dark div.wrapper {
    width:auto;
    margin:0;
  }
  
  .minimal-dark header, .minimal-dark section, .minimal-dark footer {
    float:none;
    position:static;
    width:auto;
  }
  
  .minimal-dark header {
    padding-right:320px;
  }
  
  .minimal-dark section {
    border:1px solid #cccccc;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  
  .minimal-dark header ul li {
    display:inline;
    margin-right:10px;
  }
}

@media print, screen and (max-width: 720px) {
  body.minimal-dark {
    word-wrap:break-word;
  }
  
  .minimal-dark header {
    padding:0;
  }
  
  .minimal-dark header p.view {
    position:static;
  }
  
  .minimal-dark pre, .minimal-dark code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body.minimal-dark {
    padding:15px;
  }
}

@media print {
  body.minimal-dark {
    padding:0.4in;
    font-size:12pt;
  }

  .minimal-dark *, body.minimal-dark {
    color:#000;
    background-color:#FFF;
  }
}